.content {
    width: 832px;
    /* height: 300px; */
    margin: 0 auto 32px;
    padding-top: 64px;
    background-color: #faf9f7;
}

.main-content {
    padding: 148px 32px 32px;
    border-radius: 10px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.04);
    background-color: #fff;
}

.a-title {
    width: 768px;
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 8px solid #000;
}

.a-title h1 {
    font-size: 3rem;
}

.a-msg {
    margin-bottom: 32px;
    color: #888;
}

.a-content {
    font: 500 16px/1.5 Verdana, Geneva, sans-serif;
    padding: 0;
}