<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/newArticle.css">
    <link rel="stylesheet" href="../editor.md-master/css/editormd.css" />
    <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src="../editor.md-master/editormd.min.js"></script>
    <script type="text/javascript"> 
        $(function() {
            // markdown 编辑器设置
            var editor = editormd("test-editor", {
                width  : "99%",
                height : 680 + 'px',
                path: "../editor.md-master/lib/",
                saveHTMLToTextarea : true
            })
            // 提交点击事件
            $('#publish').on('click', function () {
                // 获取 markdown 对应的 html 字符串
                var contentHtml = editor.getHTML()
                // 获取文章标题
                var title = $('#title').val()
                // 获取文章分类
                var cname = $('#class').val()
                // 获取当前日期
                var nowDate = new Date()
                // 日期格式化
                var month = nowDate.getMonth() + 1
                var date = nowDate.getDate()
                if (month < 10) {
                    month = '0' + month
                }
                if (date < 10) {
                    date = '0' + date
                }
                nowDate = nowDate.getFullYear() + '-' + month + '-' + date
                if (title === '' || contentHtml === '' || cname === '') {
                    alert('内容不能为空!')
                } else {
                    $.ajax({
                        url: '../NewAndAlterArticleServlet',
                        method: 'POST',
                        data: {
                            title: title,
                            date: nowDate,
                            content: contentHtml,
                            cname: cname
                        },
                        dataType: 'json',
                        success: function (res) {
                            if (res) {
                                alert("sucess");
                                console.log('success')
                                location.href="./article.jsp";
                            }
                        }
                    })
                }
            })
        });
    </script>
</head>
<body>
    <div class="nav">
        <span>标题</span>
        <input type="text" id="title" placeholder="请输入文章标题">
        <span>分类</span>
        <input type="text" id="class" placeholder="请输入文章分类">
        <button class="btn btn-default" id="publish">发布文章</button>
    </div>
    <div id="test-editor">
        <textarea style="display:none;"></textarea>
    </div>
</body>
</html>
